{% extends "layout.html" %}
{% block content %}

    <div class="container mt-3 mb-3">
        <div class="card img-card text-center p-3">
            <img src="../static/img/ds.jpg" alt="Dhruv Solanki" class="img-fluid rounded-circle">
            <h2>Dhruv Solanki</h2>
            <p class="m-0">Hey there, I am Dhruv Solanki. Entrepreneur and Developer</p>
            <p>I am Co-Founder of <a href="http://vam5ltd.ml">VAM5</a></p>
            <div class="social">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 social">
                        <a href="https://www.linkedin.com/in/dhruv-solanki-553713140/">
                            <i class="fab fa-linkedin fa-3x s-card"></i>
                        </a>
                        <a href="https://www.instagram.com/dhruv_911/">
                            <i class="fab fa-instagram fa-3x s-card"></i>
                        </a>
                        <a href="https://twitter.com/dhruvsolanki34">
                            <i class="fab fa-twitter fa-3x s-card"></i>
                        </a>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}